<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<H1> My Jupyter Notebook on IBM Watson Studio </H1>

**Jeren AKHOUNDI** <br>
I would like to be a data scientist also I am going to apply for PHD next year and hope to continue my academic career in university.

*I am interested in data science because I enjoy being a part of new technologies and trying out innovative solutions.I enjoy using practical methods to solve complex problems.*

<H3> My code in cell 5 swaps two variables by using a temporary variable </H3>

In [1]:
# Python program to swap two variables

x = 5
y = 10

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

Bulleted list:
- one
- two
- three

Numbered list:
1. one
2. two
3. three

Hyperlink:
[Click here to enter coursra](https://www.coursera.org/)

Image: